body{
    font-family: 'Comforter', cursive;
}
section{
    height: 500px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    
}
p{
    color: grey;
}
h1{
    color: tomato;
}
.header-image{
    background-image: url(images/header-bg.png);
}
#dream-bg{
    background-image: url(images/biography-bg.png);
}
.experience-area img{
    width: 20%;
    float: left;
    margin-top: 100px;
    margin: 10px;
    padding-left: 100px;
}
h3{
    margin-top: 100px;
    text-align: center;
    color: blueviolet;
}
.last-part{
    text-align: center;
    background-image: url(images/footer-bg.png);
}
footer{
    text-align: center;
}
.link-button{
    text-decoration: none;
    background-color: mediumpurple;
    width: 100px;
    height: 100%;
}