body{
    font-family: 'Comforter', cursive;
}
h1{
    color: salmon;
}
p{
    color: gray;
}
.link-button{
    text-decoration: none;
    background-color: lightblue;
    height: fit-content;
    
}
div{
    width: 35%;
    float: left;
    padding: 5%;
    margin-left: 5%;
}
img{
    height: 50%;
    width: 50%;
}
.bgimg{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    border: 0px solid red;
    background-position: center s;
}
section{
    height: 500px;
}